
:root{
    --bg-color: #f0b92c;
    --bg-color2: #f7b900;
    --violet:#36244f;
    --olive-green:#202e32;
    --ultramarine:hsl(217, 28%, 15%);
    }
.client-testimonials{
    
    box-sizing: border-box;
    max-width: 1440px;
    margin:0 auto;
    padding:10px;
    display: grid;
    gap:20px 5px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:250px ;
    font-family: merriweather;
    line-height: 1.7;
    
   
}
.client-testimonials .card:nth-of-type(1){
    grid-column: 3/5;
}
.client-testimonials .card:nth-of-type(2){
    grid-column: 1/3;
    grid-row: 2;
}
.client-testimonials .card:nth-of-type(3){
    grid-column: 2;
    grid-row: 1;
}
.client-testimonials .card:nth-of-type(6){
grid-row:1;
    grid-column:1 ;
}
.client-testimonials .card{ 
    background-image: url('../asset/IMG_3560.JPG');
    background-repeat: no-repeat;
                background-size:cover;
                height:auto;
                background-position:center; 

position: relative;
text-transform: capitalize;
    padding: 20px;
  
   text-align:left;
    color: #ffffff;
   /* border-radius: 50%; */

}


/* .client-testimonials .card::after{
    content: '?';
    height: 25px;
    width: 25px;
    position: absolute;
top:-.9rem;
right: 50%;
text-align: center;
display: inline-flex;
justify-content: center;
align-items: center;
color: #36244f;
font-weight: 600;
font-size: 18px;
border-radius:5px;
background-color:rgba(199, 158, 56, 0.75);

}  */
.client-testimonials .card:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: -1;
    /* border-radius: 50%; */
}
.client-testimonials .card::-webkit-scrollbar {
    width:5px; /* Make the scrollbar thin */
}
.client-testimonials .card::-webkit-scrollbar-thumb {
    background-color: rgba(176, 175, 175, 0.802);
    border-radius: 5px;
}
.client-testimonials .card-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}
.client-testimonials .card-header h3{
    font-size: 12px;
    margin: 0 !important;

}
.client-testimonials .card-header p {
 opacity: 50%;
 margin: 0;
 font-size: .9rem;
line-height: 1;

}
.client-testimonials .card-header .card-img{
width: 60px;
height: 60px;
border-radius: 50%;
border: 5PX SOLID rgb(209, 171, 75);
margin-right: 10px;
}
.client-testimonials .card_lead{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.client-testimonials .card_quote{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
  opacity: 70%;
     
}
.client-testimonials .card-bg-purple{
 
    background-repeat: no-repeat;

}

 
    @media(max-width:1200px){
        .client-testimonials{
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }          
.client-testimonials .card:nth-of-type(1){
    grid-column:1/2;
    grid-row: 1;
}
.client-testimonials .card:nth-of-type(2){
    grid-column:2/3;
    grid-row: 1;
}
.client-testimonials .card:nth-of-type(3){
    grid-column:1/2;
    grid-row: 2;
}
.client-testimonials .card:nth-of-type(4){
    grid-column:2/3;
    grid-row: 2;
}
.client-testimonials .card:nth-of-type(5){

    grid-column:1/2;
    grid-row: 3;

}
.client-testimonials .card:nth-of-type(6){

    grid-column:2/3;
    grid-row: 3;

}

    }
    

@media(max-width:868px){
    .client-testimonials .card{
        width: 1fr;
    }     
    .client-testimonials{
        grid-template-columns:100%;
    }

.client-testimonials .card:nth-of-type(1){
grid-column: 1;
grid-row: 1;
}
.client-testimonials .card:nth-of-type(2){
grid-row: 2;
grid-column:1 ;
}
.client-testimonials .card:nth-of-type(3){
grid-row: 3;
}
.client-testimonials .card:nth-of-type(4){
grid-column: 1;
grid-row: 4;
}
.client-testimonials .card:nth-of-type(5){
grid-row: 5;
grid-column: 1;
}
.client-testimonials .card:nth-of-type(6){
grid-column: 1;
grid-row: 6;
}
}